body {
    overflow-x: hidden; /* 防止水平滚动 */
}

#daynoteTemple {
  width: 100vw;
  height: 500px;
  margin: 0 auto;
  font-size: 1rem;
  font-family: "self", Courier, monospace;
  background-color: #f5f5f5;
  color: #333;
  padding: 10px;
  border: none;
  box-sizing: border-box;
  resize: none;
}

/* 移动端样式 */
@media only screen and (max-width: 768px) {
    #daynoteTemple {
        height: 70vh;
        margin: 0 auto;
    }
}

.styled-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #45a049;
}

.click-btn{
    margin: auto 0;
}

body, html {
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#texture {
    width: 100%;
    height: 70vh; /* 70% of the viewport height */
    background-color: lightblue; /* Just for visualization */
}
#button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px; /* Pushes the button container to the bottom */
}
button {
    padding: 10px 20px;
    font-size: 16px;
}